.page-link {
    color: gray;
    text-decoration: none;
}

.page-link:hover {
    background-color: rgb(86, 86, 241);
    color: white; /* Màu xanh khi di chuột qua */
}

.deny, .add{
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.deny{
    margin-right: 5px;
}

b{
    font-weight: bold;
}

.status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
